/.github/workflows/ant.yml
/index.html
/ivy/artifacts/
**/*_Jspm.java
/lib/
/.pnp.cjs
/.pnp.loader.mjs
/src/com/exedio/cope/console/App.java
/src/com/exedio/cope/console/ChangeListenerCop.java
/src/com/exedio/cope/console/CharacterNulCop.java
/src/com/exedio/cope/console/ChecklistIcon.java
/src/com/exedio/cope/console/ChecklistsCop.java
/src/com/exedio/cope/console/ClusterCop.java
/src/com/exedio/cope/console/ConnectCop.java
/src/com/exedio/cope/console/ConnectionPoolCop.java
/src/com/exedio/cope/console/ConnectTokenCop.java
/src/com/exedio/cope/console/console-body.css
/src/com/exedio/cope/console/ConsoleCop.java
/src/com/exedio/cope/console/console.css
/src/com/exedio/cope/console/ConsoleServlet.java
/src/com/exedio/cope/console/CopyConstraintCop.java
/src/com/exedio/cope/console/CustomQueryConstraintCop.java
/src/com/exedio/cope/console/DatabaseLogCop.java
/src/com/exedio/cope/console/DatabaseLogListener.java
/src/com/exedio/cope/console/DatabaseMetricsCop.java
/src/com/exedio/cope/console/DataFieldCop.java
/src/com/exedio/cope/console/DataVaultCop.java
/src/com/exedio/cope/console/DataVaultTrailCop.java
/src/com/exedio/cope/console/DispatcherFailureDeprecatedCop.java
/src/com/exedio/cope/console/EmptyStringFieldCop.java
/src/com/exedio/cope/console/EnumCop.java
/src/com/exedio/cope/console/EnumsCop.java
/src/com/exedio/cope/console/EnvironmentCop.java
/src/com/exedio/cope/console/FeatureFieldCop.java
/src/com/exedio/cope/console/Format.java
/src/com/exedio/cope/console/HashConstraintCop.java
/src/com/exedio/cope/console/helpOnDomReady.js
/src/com/exedio/cope/console/HiddenCop.java
/src/com/exedio/cope/console/ItemCacheCop.java
/src/com/exedio/cope/console/MediaCop.java
/src/com/exedio/cope/console/MediaErrorLogCop.java
/src/com/exedio/cope/console/MediaStatsCop.java
/src/com/exedio/cope/console/MediaTestableCop.java
/src/com/exedio/cope/console/MediaTypeCop.java
/src/com/exedio/cope/console/MeterTable.java
/src/com/exedio/cope/console/MinLengthStringFieldCop.java
/src/com/exedio/cope/console/MultiTableCheckConstraintCop.java
/src/com/exedio/cope/console/OptionalFieldCop.java
/src/com/exedio/cope/console/OutBasic.java
/src/com/exedio/cope/console/Out.java
/src/com/exedio/cope/console/OutOfMemoryErrorCop.java
/src/com/exedio/cope/console/properties.js
/src/com/exedio/cope/console/PurgeCop.java
/src/com/exedio/cope/console/QueryCacheCop.java
/src/com/exedio/cope/console/RegisteredDriversCop.java
/src/com/exedio/cope/console/RevisionCop.java
/src/com/exedio/cope/console/RevisionLine.java
/src/com/exedio/cope/console/RevisionSheetCop.java
/src/com/exedio/cope/console/SavepointCop.java
/src/com/exedio/cope/console/SchemaCop.java
/src/com/exedio/cope/console/schema.js
/src/com/exedio/cope/console/SequenceCop.java
/src/com/exedio/cope/console/SerializationCheckCop.java
/src/com/exedio/cope/console/ServletUtilX.java
/src/com/exedio/cope/console/SingletonCop.java
/src/com/exedio/cope/console/SuspicionsCop.java
/src/com/exedio/cope/console/TestCop.java
/src/com/exedio/cope/console/ThreadCop.java
/src/com/exedio/cope/console/TransactionCop.java
/src/com/exedio/cope/console/TypeColumnCop.java
/src/com/exedio/cope/console/TypeCompletenessCop.java
/src/com/exedio/cope/console/TypeFieldCop.java
/src/com/exedio/cope/console/UnsupportedCheckConstraintByTableCop.java
/src/com/exedio/cope/console/UnsupportedConstraintCop.java
/src/com/exedio/cope/console/UpdateCounterCop.java
/src/com/exedio/cope/console/UsageEntryPoint.java
/src/com/exedio/cope/console/VmCop.java
/testprotocol.css
/testprotocol-template.html
/testsrc/com/exedio/cope/console/MimeTypesTest.java
/testsrc/com/exedio/cope/console/QueryCacheTest.java
/testsrc/com/exedio/cope/console/RevisionLineTest.java
/testsrc/com/exedio/cope/console/SavepointChecklistIconTest.java
/testsrc/com/exedio/cope/console/ShortGitTest.java
/testsrc/com/exedio/cope/CopeHack.java
/testsrc/com/exedio/cope/junit/CopeAssert.java
/testsrc/com/exedio/cope/QueryCacheHistogramAccessor.java
/websrc/com/exedio/cope/console/example/ADataItem.java
/websrc/com/exedio/cope/console/example/AHashItem.java
/websrc/com/exedio/cope/console/example/AMediaItem.java
/websrc/com/exedio/cope/console/example/AMediaSingleItem.java
/websrc/com/exedio/cope/console/example/AMediaTestable.java
/websrc/com/exedio/cope/console/example/ANameServer.java
/websrc/com/exedio/cope/console/example/AnItem.java
/websrc/com/exedio/cope/console/example/AReducedItem.java
/websrc/com/exedio/cope/console/example/ASubItem.java
/websrc/com/exedio/cope/console/example/ConditionUnsupported.java
/websrc/com/exedio/cope/console/example/CopyItem.java
/websrc/com/exedio/cope/console/example/CopyOriginItem.java
/websrc/com/exedio/cope/console/example/DummyStrictRefererValidationFilter.java
/websrc/com/exedio/cope/console/example/EnumSingletonComplete.java
/websrc/com/exedio/cope/console/example/EnumSingletonIncomplete.java
/websrc/com/exedio/cope/console/example/ExampleServlet.java
/websrc/com/exedio/cope/console/example/FeatureItem.java
/websrc/com/exedio/cope/console/example/HashConstraintItem.java
/websrc/com/exedio/cope/console/example/HashConstraintItemUnsupported.java
/websrc/com/exedio/cope/console/example/LongName1.java
/websrc/com/exedio/cope/console/example/LongName2.java
/websrc/com/exedio/cope/console/example/LongName3.java
/websrc/com/exedio/cope/console/example/LongName4.java
/websrc/com/exedio/cope/console/example/LongName5.java
/websrc/com/exedio/cope/console/example/Main.java
/websrc/com/exedio/cope/console/example/OptionalItem.java
/websrc/com/exedio/cope/console/example/OptionalNoneItem.java
/websrc/com/exedio/cope/console/example/Out.java
/websrc/com/exedio/cope/console/example/PropertiesInitializer.java
/websrc/com/exedio/cope/console/example/Revisions.java
/websrc/com/exedio/cope/console/example/SequenceItem.java
/websrc/com/exedio/cope/console/example/SingletonComplete.java
/websrc/com/exedio/cope/console/example/SingletonIncomplete.java
/websrc/com/exedio/cope/console/example/StandardConsole.java
/websrc/com/exedio/cope/console/example/StringLengthItem.java
/websrc/com/exedio/cope/console/example/SuspicionFeature.java
/websrc/com/exedio/cope/console/example/TypeItem.java
/websrc/com/exedio/cope/console/example/UniqueHashedMediaItem.java
/websrc/com/exedio/cope/console/example/UniqueHashedMediaItemUnsupported.java
/websrc/com/exedio/cope/console/example/UsageEntryPoint.java
/websrc/com/exedio/cope/ExampleDialectUrlMapper.java
/websrc/com/exedio/cope/ExampleFailsDialectUrlMapper.java
/web/WEB-INF/classes/
/.yarn/
